.b-news { display: none; }

.b-news .news_item {
    margin-top: 15px;
    line-height: 1.3;
}

.b-news .news_item:first-child {
    margin-top: 0;
}

.b-news .news_link {
    text-decoration: none;
    color: #449d2e;
}

.b-news .news_link:hover {
    color: #ff8341;
    border-bottom: 1px solid #ff8341;
}
